# Byte-compiled / Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (jika ada)
venv/
.venv/
env/

# Datasets & Output Results (Agar repo tidak berat/berisi data sensitif/sampah)
Dataset/
Dataset2/
dataset_results.csv
dataset2_results.csv

# IDE & Editor files
.vscode/
.idea/

# Environment Variables / API Keys (jika nanti menggunakan .env)
.env

apk_deteksi_container/

test_crops/

training_data/

*.pth

train_easyocr.py

prepare_training_data.py